#Netbeans specific#
/assign/build/
/assign/dist/

/assign/nbproject/private/
/assign/build/
/assign/nbbuild/
/assign/dist/
/assign/nbdist/
/assign/nbactions.xml
/assign/nb-configuration.xml

/assign/nbproject/genfiles.properties

#Class files#
*.class

#Package files#
/assign/*/*.jar
*.war
*.ear
assign/nbproject/private/private.properties
assign/nbproject/private/private.xml
assign/nbproject/private/private.xml
assign/nbproject/genfiles.properties
assign/nbproject/build-impl.xml
*.xml~
